body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1c39bb;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .5px rgb(0, 0, 0);
    font-size: 1.5em;
    
}
.profileLookup {
        width: 500px;
        padding: 10px;
        font-family: "Arial";
        /* background-color: rgba(90, 90, 90, 0.987); */
        opacity: 80%;
        margin: auto;
        border-radius: 20px;
        text-align: center;
        align-items: center;
        margin-bottom: 5px;
}
.error-message {
  font-size: 48px;
  color: red;
  -webkit-text-stroke: .5px rgb(0, 0, 0);
}

#findBtn {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
  }
.createProfile {
    width: 500px;
    padding: 10px;
    font-family: "Arial";
    background-color: #f1f1f1;
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}
#createBtn {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
  }
  .profileContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "Arial";
    /* background-color: rgba(90, 90, 90, 0.987); */
    /* opacity: 80%; */
    margin: auto;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 3em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
  }
  
  .profileContainer img {
    max-width: 375px;
    max-height: 375px;
  }
  
  .profileContainer button {
    width: flex;
    height: flex;
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    margin: auto;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
  }

/* 
  .header {
    width: 800px;
    font-family: "Arial";
    background-color: rgba(228, 132, 8, 0.987);
    opacity: 50%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
  } */


p {
  color: rgb(0, 0, 0);
  font-size: 32px;
  -webkit-text-stroke: .75px black;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: rgb(127, 127, 127);
  opacity: 75%;
  border-radius: 12px;
  padding: 8px;
}