body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2840ab;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .5px rgb(0, 0, 0);
    font-size: 1.5em;
    
}
.profileLookup {
        display:block;
        width: 500px;
        padding: 5px;
        font-family: "Arial";
        background-color: #f1f1f1;        
        opacity: 80%;
        margin: auto;
        border-radius: 20px;
        text-align: center;
        align-items: center;
        margin-bottom: 5px;
        margin-top: 10px;
      }
      
#findBtn {
        width: 120px;
        height: 40px;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
     }

.error-message {
  font-size: 48px;
  color: red;
  -webkit-text-stroke: .5px rgb(0, 0, 0);
}

.createProfile {
    width: 500px;
    margin-top: 10px;
    padding: 15px;
    font-family: "Arial";
    background-color: #f1f1f1;
    opacity: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}
#createBtn {
    width: 120px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
  }

  .profileContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Quintessential', serif;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    font-size: 4em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
  
  .profileContainer img {
    max-width: 300px;
    max-height: 300px;
  }
  
  .profileContainer button {
    width: flex;
    height: flex;
    padding: 12px;
    border-radius: 20px;
    margin: auto;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
    position: fixed;
    bottom: 30px;
    background-color: #ffffff; 
  }
  .profileContainer button:hover {
    background-color:#6fa7e4
  }


input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}


select {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}


input[type="submit"] {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

input[type="submit"]:hover {
  background-color: #6fa7e4;
}